.page {
  &__title {
    margin-bottom: 20px;

    @include onDesktop {
      margin: 0 4px 42px;
    }
  }

  &__content {
    padding: 20px;

    @include onDesktop {
      max-width: 738px;
      padding: 40px 50px 60px;
    }
  }
}
